/* Enter your custom styles here */



.BtnBlau .sapMBtnInner {
    background-color: #5555ff;
}
.BtnDunkelblau .sapMBtnInner {
    background-color: #111177;
}
.BtnGrau .sapMBtnInner {
    background-color: #888888;
}

.BtnInnerNormalPrim .sapMBtnInner {
    font-size: 1.4em !important;
    height: 3em !important;
    text-align: center;
    color: white;
}
.BtnNormalPrim {
    height: 6em !important;
    width: 40em !important;
    margin-right: 2em;
}

.BtnInnerBigPrim .sapMBtnInner {
    font-size: 1.8em !important;
    height: 4em !important;
    text-align: center;
    color: white;
}
.BtnBigPrim {
    height: 8em !important;
    width: 42em !important;
    margin-right: 2em;
}

.BtnInnerNormalSec .sapMBtnInner {
    font-size: 1.4em !important;
    height: 3em !important;
    text-align: center;
    color: white;
}
.BtnNormalSec {
    height: 6em !important;
    width: 21em !important;
    margin-right: 0.7em;
}

.BtnInnerBigSec .sapMBtnInner {
    font-size: 1.8em !important;
    height: 4em !important;
    text-align: center;
    color: white;
}
.BtnBigSec {
    height: 8em !important;
    width: 22.5em !important;
    margin-right: 1em;
}

.sapMBtnContent {
    align-self: center;
}
.vertical-align-label {
    display: flex;
    background-color: #ff0000;
    align-items: bottom;
    height: 100%;
}
